<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Cat Breed" value="Persian" />
    <add key="Cat Age" value="6" />
    <add key="Cow Age" value="z" />
  </appSettings>
</configuration>